
:root {
  --main-bg-color-vivid: oklch(80% 0.18 0);
  --main-bg-color-faded: oklch(96% 0.04 0);
  --main-bg-color-dark:  oklch(09% 0.01 0);

  --ercot-color: #60b060;

  --whr-hr-row-height: 60px; /* TODO: Commit this and not use a variable */
  --whr-day-row-height: 90px;

  --whrtemp_01_indicatorbg: #fff;
  --whrtemp_02_indicatorbg: #fff;
  --whrtemp_03_indicatorbg: #fff;
  --whrtemp_04_indicatorbg: #fff;
  --whrtemp_05_indicatorbg: #fff;
  --whrtemp_06_indicatorbg: #fff;
  --whrtemp_07_indicatorbg: #fff;
  --whrtemp_08_indicatorbg: #fff;
  --whrtemp_09_indicatorbg: #fff;
  --whrtemp_10_indicatorbg: #fff;
  --whrtemp_11_indicatorbg: #fff;
  --whrtemp_12_indicatorbg: #fff;

  --whrtemp_01_labelvis: visible;
  --whrtemp_02_labelvis: hidden;
  --whrtemp_03_labelvis: hidden;
  --whrtemp_04_labelvis: hidden;
  --whrtemp_05_labelvis: hidden;
  --whrtemp_06_labelvis: hidden;
  --whrtemp_07_labelvis: hidden;
  --whrtemp_08_labelvis: hidden;
  --whrtemp_09_labelvis: hidden;
  --whrtemp_10_labelvis: hidden;
  --whrtemp_11_labelvis: hidden;
  --whrtemp_12_labelvis: hidden;
  
  --whrtemp_01_spacerlen: 100px;
  --whrtemp_02_spacerlen: 100px;
  --whrtemp_03_spacerlen: 100px;
  --whrtemp_04_spacerlen: 100px;
  --whrtemp_05_spacerlen: 100px;
  --whrtemp_06_spacerlen: 100px;
  --whrtemp_07_spacerlen: 100px;
  --whrtemp_08_spacerlen: 100px;
  --whrtemp_09_spacerlen: 100px;
  --whrtemp_10_spacerlen: 100px;
  --whrtemp_11_spacerlen: 100px;
  --whrtemp_12_spacerlen: 100px;

  --whrtemp_01_windrot: 0deg;
  --whrtemp_02_windrot: 0deg;
  --whrtemp_03_windrot: 0deg;
  --whrtemp_04_windrot: 0deg;
  --whrtemp_05_windrot: 0deg;
  --whrtemp_06_windrot: 0deg;
  --whrtemp_07_windrot: 0deg;
  --whrtemp_08_windrot: 0deg;
  --whrtemp_09_windrot: 0deg;
  --whrtemp_10_windrot: 0deg;
  --whrtemp_11_windrot: 0deg;
  --whrtemp_12_windrot: 0deg;
  
  --whrtemp_01_windsize: 10px;
  --whrtemp_02_windsize: 10px;
  --whrtemp_03_windsize: 10px;
  --whrtemp_04_windsize: 10px;
  --whrtemp_05_windsize: 10px;
  --whrtemp_06_windsize: 10px;
  --whrtemp_07_windsize: 10px;
  --whrtemp_08_windsize: 10px;
  --whrtemp_09_windsize: 10px;
  --whrtemp_10_windsize: 10px;
  --whrtemp_11_windsize: 10px;
  --whrtemp_12_windsize: 10px;

  --whrday_01_padlen: 35px;
  --whrday_02_padlen: 35px;
  --whrday_03_padlen: 35px;
  --whrday_04_padlen: 35px;
  --whrday_05_padlen: 35px;
  --whrday_06_padlen: 35px;
  --whrday_07_padlen: 35px;
  --whrday_08_padlen: 35px;

  --whrday_01_barlen: 290px;
  --whrday_02_barlen: 290px;
  --whrday_03_barlen: 290px;
  --whrday_04_barlen: 290px;
  --whrday_05_barlen: 290px;
  --whrday_06_barlen: 290px;
  --whrday_07_barlen: 290px;
  --whrday_08_barlen: 290px;

  transition-property: width, height, left, top, background-color;
  transition-duration: 1s;
  transition-timing-function: linear;

  --alertlen: 30s;
  --alertoffset: -270px;
}

/* barlow-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('./nonsharables/barlow-v12-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('./nonsharables/barlow-v12-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* vt323-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('./nonsharables/vt323-v17-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#body {
  position: absolute;
  /*left: 0px;
  top: 0px;*/
}

.hidden {
  display: none;
}

.minionly {
  visibility: visible;
}
.focus .minionly {
  visibility: hidden;
}

.fullonly {
  visibility: hidden;
}
.focus .fullonly {
  visibility: visible;
}

#notif_stopped {
  position: fixed;
  background-color: #f00;
  color: #fff;
  z-index: 99;
  text-align: center;
  font-size: larger;

  left: 50%;
  top: 10%;
  height: 1.2em;
  width: 250px;
}

body {
  overflow: hidden;
  touch-action: none;
}

.relcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* draggable */

.popup {
  border: 1px solid #d3d3d3;
  text-align: center;
  overflow: hidden;
  position: absolute;
  container: popup / size;
  /* resize: both; */ /* For debugging. Remove manual resizing in normal view */

}

.popup-header {
  padding: 3px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
  opacity: 0.1;
}

/**/
@container popup(min-height: 100px; min-width: 100px;) {}

.popup-square {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: 100cqmin;
  width: 100cqmin;

  /** background-color: #aaa; /**/
  z-index: -20;
}
/**/

/**
.popup-square {
width: 100%;
height: 0;
padding-top: 100%;
background-color: #aaa;
}
/**/

.square {
  display: block;
  position: absolute;
  margin: auto;
  height: 100cqmin;
  width: 100cqmin;

  background-color: #888;
  border: 0px solid #fff;
  text-align: center;
  overflow: hidden;
  position: absolute;
  container: popup / size;
  /* resize: both; */ /* For debugging. Remove manual resizing in normal view */
  
  transition-property: width, height, left, top, background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#weathermini {
  width: 270px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#weatherfull_alertcontainer {
  width: 270px;
  height: 270px;
  position: absolute;
  left: 270px;
  top: 0px;

  color: #000;
  background-color: #fff;
}
#weatherfull_alertdetail {
  width: 270px;
  position: relative;
  left: 0px;
  animation: alertscroll var(--alertlen) linear infinite;

  color: #000;
  background-color: #fff;
  font-family: 'Courier New', monospace;
  text-align: left;
  font-size: small;
}

@keyframes alertscroll {
  from {
    top: 270px;
  }
  to {
    top: var(--alertoffset);
  }
}


#weatherfull_minrain {
  width: 540px;
  height: 270px;
  position: absolute;
  left: 540px;
  top: 0px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#weatherfull_hrtemp {
  width: 540px;
  height: 810px;

  position: absolute;
  left: 0px;
  top: 270px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

#weatherfull_daycast{
  width: 540px;
  height: 810px;

  position: absolute;
  left: 540px;
  top: 270px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.weather-square {
  background-color: var(--main-bg-color-vivid);
  color: #000;
}

#weathermini {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#weather_icon {
  background-color: #ffffffd0;
  border: 1px solid black;
  position: absolute;
  top: 25px;
  left: 5px; 
  width: 125px;
  height: 125px;
}

#weather_miniCurTemp {
  color: #fff;
  font-size: 72px;
  position: absolute;
  left: 140px;
  top: 25px;
}

#weather_miniFeels_text {
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 144px;
  top: 114px;
}

#weather_miniFeels_digits {
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 184px;
  top: 110px;
}

#weather_miniWeatherLabel {
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 155px;
}

#weather_miniAlert {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 185px;
}

.weather_miniAlert_active {
  border: 2px dashed red;
  padding: 4px;
  margin-right: 10px;
  background-color: yellow;
  color: #000;
}

#weatherfull_hrtemp {
  background-color: var(--main-bg-color-faded);
  color: #000;
  font-family: "Barlow", sans-serif;
  padding-top: 40px;
}

.whrTempRow {
  position: relative;
  display: block;
  text-align: left;
  height: var(--whr-hr-row-height);
  width: 520px;
  padding-left: 5px;
  padding-right: 5px;
}

.whrTemp_indicator {
  /*display: inline-block;*/
  float: left;
  background-color: #888;
  width: 30px;
  height: var(--whr-hr-row-height);
}

#whrtemp_01_indicator {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--whrtemp_01_indicatorbg);
}

#whrtemp_02_indicator { background-color: var(--whrtemp_02_indicatorbg); }
#whrtemp_03_indicator { background-color: var(--whrtemp_03_indicatorbg); }
#whrtemp_04_indicator { background-color: var(--whrtemp_04_indicatorbg); }
#whrtemp_05_indicator { background-color: var(--whrtemp_05_indicatorbg); }
#whrtemp_06_indicator { background-color: var(--whrtemp_06_indicatorbg); }
#whrtemp_07_indicator { background-color: var(--whrtemp_07_indicatorbg); }
#whrtemp_08_indicator { background-color: var(--whrtemp_08_indicatorbg); }
#whrtemp_09_indicator { background-color: var(--whrtemp_09_indicatorbg); }
#whrtemp_10_indicator { background-color: var(--whrtemp_10_indicatorbg); }
#whrtemp_11_indicator { background-color: var(--whrtemp_11_indicatorbg); }

#whrtemp_12_indicator {
  border-radius: 0px 0px 10px 10px;
  background-color: var(--whrtemp_12_indicatorbg);
}

.whrTemp_time {
  /*display: inline-block;*/
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 70px;
  height: var(--whr-hr-row-height);
  margin-right: 5px;
}

.whrTemp_label {
  position: absolute;
  top: 8px;
  left: 110px;
  font-style: italic;
  font-weight: 400;
  color: #aaa;
}

.whrTemp_spacer {
  position: relative;
  display: inline-block;
  width: 100px;
  border: 1px solid #aaa;
  margin-bottom: 3px;
  top: 5px;
  z-index: 1;
}
#whrtemp_01_spacer{ width: var(--whrtemp_01_spacerlen); }
#whrtemp_02_spacer{ width: var(--whrtemp_02_spacerlen); }
#whrtemp_03_spacer{ width: var(--whrtemp_03_spacerlen); }
#whrtemp_04_spacer{ width: var(--whrtemp_04_spacerlen); }
#whrtemp_05_spacer{ width: var(--whrtemp_05_spacerlen); }
#whrtemp_06_spacer{ width: var(--whrtemp_06_spacerlen); }
#whrtemp_07_spacer{ width: var(--whrtemp_07_spacerlen); }
#whrtemp_08_spacer{ width: var(--whrtemp_08_spacerlen); }
#whrtemp_09_spacer{ width: var(--whrtemp_09_spacerlen); }
#whrtemp_10_spacer{ width: var(--whrtemp_10_spacerlen); }
#whrtemp_11_spacer{ width: var(--whrtemp_11_spacerlen); }
#whrtemp_12_spacer{ width: var(--whrtemp_12_spacerlen); }

.whrTemp_temp {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 3px 12px;
  top: 10px;
  z-index: 2;
}

.whrTemp_winddir_container {
  position: relative;
  display: inline-block;
  top: 15px;
  height: 30px;
  width: 30px;
  margin: 0px -5px;
  overflow: hidden;
}

.whrTemp_winddir {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
}

#whrtemp_01_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_01_windrot)); height: var(--whrtemp_01_windsize); width: var(--whrtemp_01_windsize); }
#whrtemp_02_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_02_windrot)); height: var(--whrtemp_02_windsize); width: var(--whrtemp_02_windsize); }
#whrtemp_03_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_03_windrot)); height: var(--whrtemp_03_windsize); width: var(--whrtemp_03_windsize); }
#whrtemp_04_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_04_windrot)); height: var(--whrtemp_04_windsize); width: var(--whrtemp_04_windsize); }
#whrtemp_05_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_05_windrot)); height: var(--whrtemp_05_windsize); width: var(--whrtemp_05_windsize); }
#whrtemp_06_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_06_windrot)); height: var(--whrtemp_06_windsize); width: var(--whrtemp_06_windsize); }
#whrtemp_07_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_07_windrot)); height: var(--whrtemp_07_windsize); width: var(--whrtemp_07_windsize); }
#whrtemp_08_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_08_windrot)); height: var(--whrtemp_08_windsize); width: var(--whrtemp_08_windsize); }
#whrtemp_09_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_09_windrot)); height: var(--whrtemp_09_windsize); width: var(--whrtemp_09_windsize); }
#whrtemp_10_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_10_windrot)); height: var(--whrtemp_10_windsize); width: var(--whrtemp_10_windsize); }
#whrtemp_11_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_11_windrot)); height: var(--whrtemp_11_windsize); width: var(--whrtemp_11_windsize); }
#whrtemp_12_winddir{ transform: translate(-50%, -50%) rotate(var(--whrtemp_12_windrot)); height: var(--whrtemp_12_windsize); width: var(--whrtemp_12_windsize); }

.whrTemp_windamt {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #777;
  top: 5px;
}

#weatherfull_daycast {
  background-color: var(--main-bg-color-faded);
  color: #000;
  font-family: "Barlow", sans-serif;
  padding-top: 40px;
  padding-left: 5px;
}

.whrDayRow {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  height: var(--whr-day-row-height);
  width: 520px;
  padding-left: 5px;
  padding-right: 5px;

  /* DEBUG * / border: 1px solid #f0f; /**/
}

.whrDay_label {
  float: left;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  width: 70px;
  height: var(--whr-day-row-heightight);
  margin-right: 5px;
}

.whrDay_day {
  position: relative;
  display: block;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 70px;
  height: 30px;
  padding-top: 8px;
}

.whrDay_rainChance_container {
  position: relative;
  display: block;
  height: 25px;
  padding-left: 2px;
}

.whrDay_rain_icon {
  position: relative;
  display: inline;
  height: 16px;
  width: 10px;
  top: 2px;
}

.whrDay_rain_digit {
  display: inline;
  color: #3070B0;
  font-size: 16px;
  font-weight: bold;
}

.whrDay_weather_icon_container {
  float: left;
  display: flex;
  /*position: relative;
  display: inline-block;*/
  height: var(--whr-day-row-height);
  width: 50px;
  align-items: center;
  overflow: hidden;
}

.whrDay_weather_icon {
  /* position: absolute;
  top: 2px; */
  height: 40px;
  width: 40px;
}

/* Commit to consts: Minimum spacer 35px, max width of bar is 290px if spacer is minimum. */
.whrDay_tempSpacer {
  float: left;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: var(--whr-day-row-height);
}

#whrday_01_tempSpacer { width: var(--whrday_01_padlen); }
#whrday_02_tempSpacer { width: var(--whrday_02_padlen); }
#whrday_03_tempSpacer { width: var(--whrday_03_padlen); }
#whrday_04_tempSpacer { width: var(--whrday_04_padlen); }
#whrday_05_tempSpacer { width: var(--whrday_05_padlen); }
#whrday_06_tempSpacer { width: var(--whrday_06_padlen); }
#whrday_07_tempSpacer { width: var(--whrday_07_padlen); }
#whrday_08_tempSpacer { width: var(--whrday_08_padlen); }

.whrDay_tempLo {
  padding-right: 5px;
  font-size: 24px;
  font-weight: bold;
}

.whrDay_tempBar {
  position: relative;
  display: inline-block;
  background-color: #ddd;
  border: 1px solid #bbb;
  border-radius: 24px;
  padding: 3px 12px;
  height: 30px;
}

#whrday_01_tempBar { width: var(--whrday_01_barlen); }
#whrday_02_tempBar { width: var(--whrday_02_barlen); }
#whrday_03_tempBar { width: var(--whrday_03_barlen); }
#whrday_04_tempBar { width: var(--whrday_04_barlen); }
#whrday_05_tempBar { width: var(--whrday_05_barlen); }
#whrday_06_tempBar { width: var(--whrday_06_barlen); }
#whrday_07_tempBar { width: var(--whrday_07_barlen); }
#whrday_08_tempBar { width: var(--whrday_08_barlen); }

.whrDay_tempHi {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
}

#sqcalendar {
  background-color: var(--main-bg-color-vivid);
  pointer-events: none;
  color: #fff;
}

.calendar-month {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
}

.calendar-date {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 120px;
}

.calendar-day {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
}

#sqclockdigit {
  background-color: var(--main-bg-color-vivid);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  pointer-events: none;
  color: #fff;
}

#clockdigit_container {
  top: 50%;
  width: 100%;
}

#clockdigit_hour_tens {
  position: absolute;
  left: 18%;
  top: 18%;
  text-align: left;
  transform: translate(-50%, -50%);
}
#clockdigit_hour_ones {
  position: absolute;
  left: 39%;
  top: 18%;
  text-align: left;
  transform: translate(-50%, -50%);
}

#clockdigit_minute_tens {
  position: absolute;
  left: 39%;
  top: 48%;
  transform: translate(-50%, -50%);
}
#clockdigit_minute_ones {
  position: absolute;
  left: 60%;
  top: 48%;
  transform: translate(-50%, -50%);
}

#clockdigit_second_tens {
  position: absolute;
  left: 60%;
  top: 78%;
  text-align: right;
  transform: translate(-50%, -50%);
}
#clockdigit_second_ones {
  position: absolute;
  left: 81%;
  top: 78%;
  text-align: right;
  transform: translate(-50%, -50%);
}

.focus #doodle {
	cursor: crosshair;
  /* position: fixed; */
}

#doodle_toolbox {
  top: 5%;
  left: 95%;
  background-color: #00000010;
  border: none;
  color: #000;
  width: 50px;
  height: 300px;
}

.doodle_tool {
  width: 25px;
  height: 25px;
}

#sqmoon {
  background-color: var(--main-bg-color-dark);
}

#moon_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#moon_caption {
  color: #aaa;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  position: absolute;
  text-align: center;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#moon_numphase {
  color: #ffffff30;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sqercot {
  pointer-events: none;
  background-color: var(--main-bg-color-dark);
}

#ercot_icon {
  position: absolute;
  left: 50%;
  top: 25%;
  color: #ffb;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

#ercot_label {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ercot_label_digits {
  color: var(--ercot-color);
  font-size: 40px;
  font-weight: 800;
}

#ercot_label_usd {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

/*NOSELECT*/

.popup * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}